*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: teal;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-shadow: 0 0 20px black;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px black;
    background-color: white;
}