*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, 
    rgba(234, 234, 234, 0.02) 16.667%,rgba(128, 128, 128, 0.02) 16.667%, 
    rgba(128, 128, 128, 0.02) 33.334%,rgba(161, 161, 161, 0.02) 33.334%, 
    rgba(161, 161, 161, 0.02) 50.001000000000005%,rgba(154, 154, 154, 0.02) 50.001%, 
    rgba(154, 154, 154, 0.02) 66.668%,rgba(77, 77, 77, 0.02) 66.668%, 
    rgba(77, 77, 77, 0.02) 83.33500000000001%,rgba(10, 10, 10, 0.02) 83.335%, 
    rgba(10, 10, 10, 0.02) 100.002%),linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, 
    rgba(39, 39, 39, 0.03) 20%,rgba(232, 232, 232, 0.03) 20%, 
    rgba(232, 232, 232, 0.03) 40%,rgba(33, 33, 33, 0.03) 40%, 
    rgba(33, 33, 33, 0.03) 60%,rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%,
    rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),
    linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, 
    rgba(174, 174, 174, 0.03) 12.5%,rgba(190, 190, 190, 0.03) 12.5%, 
    rgba(190, 190, 190, 0.03) 25%,rgba(191, 191, 191, 0.03) 25%, 
    rgba(191, 191, 191, 0.03) 37.5%,rgba(23, 23, 23, 0.03) 37.5%, 
    rgba(23, 23, 23, 0.03) 50%,rgba(227, 227, 227, 0.03) 50%, 
    rgba(227, 227, 227, 0.03) 62.5%,rgba(71, 71, 71, 0.03) 62.5%, 
    rgba(71, 71, 71, 0.03) 75%,rgba(162, 162, 162, 0.03) 75%, 
    rgba(162, 162, 162, 0.03) 87.5%,rgba(85, 85, 85, 0.03) 87.5%, 
    rgba(85, 85, 85, 0.03) 100%),linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, 
    rgba(38, 38, 38, 0.02) 25%,rgba(106, 106, 106, 0.02) 25%, 
    rgba(106, 106, 106, 0.02) 50%,rgba(28, 28, 28, 0.02) 50%, 
    rgba(28, 28, 28, 0.02) 75%,rgba(66, 66, 66, 0.02) 75%, 
    rgba(66, 66, 66, 0.02) 100%),linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, 
    rgba(38, 38, 38, 0.03) 25%,rgba(211, 211, 211, 0.03) 25%, 
    rgba(211, 211, 211, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,
    rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%),
    linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, 
    rgba(253, 253, 253, 0.03) 14.286%,rgba(103, 103, 103, 0.03) 14.286%, 
    rgba(103, 103, 103, 0.03) 28.572%,rgba(46, 46, 46, 0.03) 28.572%, 
    rgba(46, 46, 46, 0.03) 42.858%,rgba(68, 68, 68, 0.03) 42.858%, 
    rgba(68, 68, 68, 0.03) 57.144%,rgba(116, 116, 116, 0.03) 57.144%, 
    rgba(116, 116, 116, 0.03) 71.42999999999999%,rgba(248, 248, 248, 0.03) 71.43%, 
    rgba(248, 248, 248, 0.03) 85.71600000000001%,rgba(174, 174, 174, 0.03) 85.716%, 
    rgba(174, 174, 174, 0.03) 100.002%),linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, 
    rgba(20, 20, 20, 0.01) 14.286%,rgba(23, 23, 23, 0.01) 14.286%, 
    rgba(23, 23, 23, 0.01) 28.572%,rgba(19, 19, 19, 0.01) 28.572%, 
    rgba(19, 19, 19, 0.01) 42.858%,rgba(134, 134, 134, 0.01) 42.858%, 
    rgba(134, 134, 134, 0.01) 57.144%,rgba(4, 4, 4, 0.01) 57.144%, 
    rgba(4, 4, 4, 0.01) 71.42999999999999%,rgba(254, 254, 254, 0.01) 71.43%, 
    rgba(254, 254, 254, 0.01) 85.71600000000001%,rgba(87, 87, 87, 0.01) 85.716%, 
    rgba(87, 87, 87, 0.01) 100.002%),linear-gradient(90deg, rgb(168, 1, 206),
    rgb(20, 120, 203));
}

.clock{
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockFace{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(20, 120, 203);
}

.digit{
    position: absolute;
    padding: 15px;
    font-size: 20px;
    color: #fff;
}

.one{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.three{
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}


.four{
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.two{
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.dot{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.hands{
    position: absolute;
}

.hour{
    width: 45px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform-origin: left center;
    transform: rotate(270deg);
}

.minute{
    width: 50px;
    height: 2px;
    background-color: orange;
    position: absolute;
    transform-origin: left center;
    transform: rotate(270deg);
}


.second{
    width: 60px;
    height: 1px;
    background-color: red;
    position: absolute;
    transform-origin: left center;
    transform: rotate(270deg);
}

