*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    position: relative;
}

.head{
    text-align: center;
    position: absolute;
    top:10%;
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 4px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_ctn, 
.btn_ctn{
    padding: 10px 0px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn_ctn{
    margin-top: 10px;
    position: relative;
}

input{
    padding: 4px 10px;
    outline: none;
}

input:focus{
    box-shadow: 0 0 20px -3px;
}