*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 1%;
    align-items: center;
    background-image: radial-gradient(circle at top right, rgb(36, 9, 119) 0%, rgb(36, 9, 119) 48%,rgb(72, 7, 149) 48%, rgb(72, 7, 149) 53%,rgb(109, 5, 178) 53%, rgb(109, 5, 178) 56%,rgb(145, 2, 208) 56%, rgb(145, 2, 208) 69%,rgb(181, 0, 237) 69%, rgb(181, 0, 237) 100%);
}

h2, h4{
    color: #fff;
    letter-spacing: 2px;
}

.content{
    height: 200px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key{
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    transition: all 600ms ease-out;
}

.key:hover{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(216,39,39,1) 0%, rgb(224, 1, 154) 60% );
}

.active{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(216,39,39,1) 0%, rgba(110,2,76,1) 90% );
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}