*, 
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
}

.progressBar--wrapper{
    width: 300px;
    height: 20px;
    position: relative;
    overflow:hidden;
    background: linear-gradient(-90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.progressBar--bar{
    width: 0px;
    height: 100%;
    position: absolute;
    left:0px;
    top:0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
}

.para{
    position: absolute;
    top:30px;
    height: 30px;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
}