*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.container {
    background: rgb(171,6,154);
    background: -moz-linear-gradient(13deg, rgba(171,6,154,1) 0%, rgba(0,69,255,1) 100%);
    background: -webkit-linear-gradient(13deg, rgba(171,6,154,1) 0%, rgba(0,69,255,1) 100%);
    background: linear-gradient(13deg, rgba(171,6,154,1) 0%, rgba(0,69,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ab069a",endColorstr="#0045ff",GradientType=1);
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flashcard__container{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);  
}

.main__heading{
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
}

.main__btn{
    position: absolute;
    top: 15%;
    left: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.fas{
    margin-right: 0.5rem;
    color: tomato;
    font-size: 2rem;
}

.card__form{
    position: absolute;
    top: 30%;
    border: 2px solid #fff;
    padding: 3rem 6rem 1rem;
    display: flex;
    flex-direction: column;
    display: none;
}

.form__close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
}

label {
    font-size: 1.2rem;
    color: #fff;
    padding: 0.2rem 0.5rem;
    line-height: 35px;
}

input {
    width: 300px;
    height: 35px;
    margin: 0.5rem;
}

.input__1,
.input__2,
.input__3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.input__3{
    justify-content: flex-end;
}

.save,
.reset{
    font-size: 1.1rem;
    background-color: teal;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem  0.5rem;
    box-shadow: 0 0 5px 0 black;
    
}

.reset{
    color: #fff;
    box-shadow: 0 0 5px 0 black;
    border: 0;
    outline: none;
}

.reset:hover,
.save:hover,
.reset:active,
.save:active{
    box-shadow: none;
}


.card__display{
    position: absolute;
    top: 60%;
    border: 2px solid #fff;
    width: 50%;
    padding: 1rem 2rem;
    display: none;
}

.display__qus,
.display__ans{
    color: #fff;
    text-align: start;
    width: 100%;
}

.display__qus{
    font-size: 1.3rem;
    padding: 0.2rem 1rem 0.4rem 0;
    font-weight: 300;
}

.display__ans{
    font-weight: 300;
    font-size: 1.1rem;
    padding: 0.3rem 1rem 1rem 0;
    display: none;
}

.display__btn{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn {
    display: block;
    cursor: pointer;
    background-color: teal;
    padding: 0.4rem 0.8rem;
    margin-right: 1rem;
    color: #fff;
    box-shadow: 0 0 5px 0 black;
}

.btn-del{
    background-color: white;
    color:tomato;
}

.btn-edit{
    background-color: white;
    color:tomato;
}

.btn:hover {
    box-shadow: none;
}

.btn:nth-child(2){
    margin-left: 40%;
}

i{
    transition: all 0.6s ease;
}

i:hover{
    transform: rotate(360deg);
    color: red;
}

.toggle-btn{
    display: block;
}